<header class="panel">
    <span id="logo"><a href="/">LOGO</a></span>
    <span id="menu">
        <a href="/admin/articles" class="menu-item">Artykuły</a>
        <a href="/admin/users" class="menu-item">Użytkownicy</a>
        <a href="/admin/albums" class="menu-item">Albumy</a>
        <a href="/admin/movies" class="menu-item">Filmy</a>
        <a href="/admin/reviews" class="menu-item">Recenzje</a>
    </span>
    <span id="user-panel">
        <a href="/admin/logout" class="logging-panel-item">Wyloguj się</a>
    </span>
</header>