<header class="panel">
    <span id="logo"><a href="/">LOGO</a></span>
    <span id="menu">
        <a href="/editor/articles" class="menu-item">Artykuły</a>
        <a href="/editor/reviews" class="menu-item">Recenzje</a>
    </span>
    <span id="user-panel">
        <a href="/editor/logout" class="logging-panel-item">Wyloguj się</a>
    </span>
</header>