<div class="panel side-panel" id="left-panel">
    <div class="side-panel-close-button" id="left-close-button">&#8592;</div>
</div>
<div class="panel side-panel-collapsed" id="left-panel-collapsed">
    <div class='side-panel-open-button' id='left-open-button'>&#8594;</div>
</div>