<% if (admin) { %>
    Witaj ponownie, administratorze
    <a href="/admin/logout" class="logging-panel-item">Wyloguj się</a>
<% } else if (user) { %>
    Witaj ponownie, <%= user.username %>
    <a href="/logout" class="logging-panel-item">Wyloguj się</a>
<% } else { %>
    <a href="/signup" class="logging-panel-item">Zarejestruj się</a>
    <a href="/login" class="logging-panel-item">Zaloguj się</a>
<% } %>