<% if (user) { %>
    Witaj ponownie, <%= user[0].username %>
    <a href="/logout" class="logging-panel-item">Wyloguj się</a>
<% } else { %>
    <a href="/signup" class="logging-panel-item">Zarejestruj się</a>
    <a href="/login" class="logging-panel-item">Zaloguj się</a>
<% } %>