<div class="panel side-panel" id="right-panel">
    <div class="side-panel-close-button" id="right-close-button">&#8594;</div>
</div>
<div class="panel side-panel-collapsed" id="right-panel-collapsed">
    <div class='side-panel-open-button' id='right-open-button'>&#8592;</div>
</div>