<header class="panel">
    <span id="logo"><a href="/">LOGO</a></span>
    <span id="menu">
        <a href="#" class="menu-item">Muzyka</a>
        <a href="#" class="menu-item">Filmy</a>
    </span>
    <span id="user-panel">
        <%- include("loggingPanel.ejs") %> 
    </span>
</header>