<header class="panel">
    <span id="logo"><a>LOGO</a></span>
    <span id="menu">
        <a class="menu-item">Muzyka</a>
        <a class="menu-item">Filmy</a>
        <a class="menu-item">Rankingi</a>
    </span>
    <span id="user-panel"></span>
</header>