<header class="panel top-panel">
    <span id="logo"><a href="/">LOGO</a></span>
    <span id="menu">
        <a href="/music/" class="menu-item">Muzyka</a>
        <a href="/movies/" class="menu-item">Filmy</a>
    </span>
    <span id="user-panel">
        <%- include("loggingPanel.ejs") %> 
    </span>
</header>