<header class="panel top-panel">
    <span id="logo" title="Strona główna"><a href="/">LOGO</a></span>
    <span id="menu">
        <a href="/music/" class="menu-item" title="Sekcja muzyczna">Muzyka</a>
        <a href="/movies/" class="menu-item" title="Sekcja filmowa">Filmy</a>
    </span>
    <span id="user-panel">
        <%- include("loggingPanel.ejs") %> 
    </span>
</header>