body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(80, 80, 80);
    color: white;
    margin: 0;
}

.panel {
    background-color: rgb(40, 40, 40);
}

.top-panel {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.side-panel {
    height: 100%;
    top: 50px;
    width: 200px;
    position: fixed;
    display: block;
    z-index: 10;
    text-align: center;
}

.side-panel-collapsed {
    width: 50px;
    top: 50px;
    height: 50px;
    position: fixed;
    z-index: 1;
}

#main {
    margin-left: 50px;
    margin-right: 200px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
    position: relative;
}

header {
    height: 50px;
}

#left-panel {
    left: 0;
}

#right-panel {
    right: 0;
}

#right-panel-collapsed {
    right: 0;
}

#logo {
    display: inline-block;
    width: 200px;
}

.menu-item {
    font-size: 35px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.menu-item:hover {
    color: red;
}

#user-panel {
    float: right;
    right: 0;
    width: 250px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

.logging-panel-item {
    margin-right: 20px; 
}

.article-item {
    color: white;
    text-decoration: none;
}

.article-item:hover {
    color: white;
}

form {
    width: 400px;
    margin: 100px auto;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

form.rating {
    width: 200px;
    margin: 10px auto;
}

input {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid white;
    font-size: 1em;
    width: 100%;
}

label {
    display: block;
    margin: 20px 0 10px;
}

button {
    margin: 20px;
    margin-left: 0;
    background-color: white;
    color: black;
    border: 0;
    font-size: 1.5em;
}

form.article-form {
    width: 1000px;
    text-align: center;
}

textarea {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
}

textarea#introduction {
    height: 100px;
}

textarea#content {
    height: 300px;
}

.submit {
    margin: 20px;
    margin-left: 0;
    background-color: white;
    color: black;
    border: 0;
    font-size: 1.5em;
}

.boxes {
    content: "";
    display: table;
    clear: both;
}

.box {
    float: left;
    margin-left: 20px;
}

#edit-delete {
    margin: 50px;
}

.side-panel-close-button {
    cursor: pointer;
    font-size: 70px;
}

.side-panel-open-button {
    cursor: pointer;
    font-size: 35px;
    margin-left: 10px;
}

.side-panel-element {
    font-size: 17px;
    margin-top: 20px;
}

#user-logged-in-panel {
    float: right;
    margin-top: -10px;
    width: 50px;
    height: 50px;
    right: 0;
}

#user-logged-in-panel img {
    width: 50px;
    height: 50px;
    position: relative;
}

#user-logged-in-panel img:hover {
    cursor: pointer;
}

.user-menu {
    float: right;
    width: 250px;
    height: 480px;
    background-color: rgb(20, 20, 20);
    position: relative;
    z-index: 100;
    opacity: 0.9;
}

.user-menu-item {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

hr {
    border-style: solid;
    background-color: white;
}

#log-in-panel {
    margin-top: 30px;
}

.title {
    margin-top: 50px;
    margin-left: 50px;
}

.home-review {
    margin-top: 100px;
}

.home-review h1 {
    margin-top: 150px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    text-align: center;
}