body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(80, 80, 80);
    color: white;
    margin: 0;
}

.panel {
    background-color: rgb(40, 40, 40);
}

.side-panel {
    height: 100%;
    width: 200px;
    position: fixed;
    display: block;
    z-index: 1;
}

.side-panel-collapsed {
    width: 50px;
    height: 50px;
    position: fixed;
}

#main {
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

header {
    height: 50px;
}

#left-panel {
    left: 0;
}

#right-panel {
    right: 0;
}

#right-panel-collapsed {
    right: 0;
}

#logo {
    display: inline-block;
    width: 200px;
}

.menu-item {
    font-size: 35px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.menu-item:hover {
    color: red;
}

#user-panel {
    float: right;
    right: 0;
    width: 250px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

.logging-panel-item {
    margin-right: 20px; 
}

.article-item {
    color: white;
    text-decoration: none;
}

.article-item:hover {
    color: white;
}

form {
    width: 400px;
    margin: 100px auto;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

input {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid white;
    font-size: 1em;
    width: 100%;
}

label {
    display: block;
    margin: 20px 0 10px;
}

button {
    margin: 20px;
    margin-left: 0;
    background-color: white;
    color: black;
    border: 0;
    font-size: 1.5em;
}

.submit {
    margin: 20px;
    margin-left: 0;
    background-color: white;
    color: black;
    border: 0;
    font-size: 1.5em;
}

.article-boxes {
    content: "";
    display: table;
    clear: both;
}

.article-box {
    float: left;
    margin: 20px;
}

#edit-delete {
    margin: 50px;
}

.side-panel-close-button {
    cursor: pointer;
    font-size: 70px;
    margin-left: 65px;
}

.side-panel-open-button {
    cursor: pointer;
    font-size: 35px;
    margin-left: 10px;
}
