<!DOCTYPE html>

<%- include("./partials/head.ejs") %>

<body>
    <header class="panel">
        <span id="logo"><a>LOGO</a></span>
        <span id="menu">
            <a class="menu-item">Muzyka</a>
            <a class="menu-item">Filmy</a>
            <a class="menu-item">Rankingi</a>
        </span>
        <span id="user-panel"></span>
    </header>
    <div class="panel side-panel" id="left-panel"></div>
    <div class="panel side-panel" id="right-panel"></div>
    <footer></footer>
</body>
