<!DOCTYPE html>

<html>

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/topPanel.ejs") %> 
    
    <h1>log in</h1>

    <%- include("./partials/footer.ejs") %> 
    
</body>

</html>
